.bg{
  /* The image used */
  background-image: url("../../assets/photo/bg.png");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

table {
  width: 100%;
}

.position{
  padding: 25%;
}

.team-image {
  width: 150px;
  height: 150px;
  background-size: cover;
}

.example-container {
  height: 1100px;
  overflow: auto;
}

.hidden {
  display: none;
}

.show {
  display: ruby;
}


