<section class="bg">
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <h1 style="color: white; padding-left: 20px;"> วิเคราะห์การแข่งขันฟุตบอลพรีเมียลีค</h1>
    <br />
</section>
<br />
<div align="center" class="show" [hidden]="spinner_process">
    <div class="spinner-grow text-primary" role="status">
        <span class="sr-only">Loading...</span>
    </div>
    <div class="spinner-grow text-secondary" role="status">
        <span class="sr-only">Loading...</span>
    </div>
    <div class="spinner-grow text-success" role="status">
        <span class="sr-only">Loading...</span>
    </div>
    <div class="spinner-grow text-danger" role="status">
        <span class="sr-only">Loading...</span>
    </div>
    <div class="spinner-grow text-warning" role="status">
        <span class="sr-only">Loading...</span>
    </div>
    <div class="spinner-grow text-info" role="status">
        <span class="sr-only">Loading...</span>
    </div>
    <div class="spinner-grow text-dark" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>
<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
            aria-selected="true">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" (click)='ClickModal()' id="profile-tab" data-toggle="tab" href="#profile" role="tab"
            aria-controls="profile" aria-selected="false">Table</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" (click)='dataChart()' id="contact-tab" data-toggle="tab" href="#contact" role="tab"
            aria-controls="contact" aria-selected="false">Graph</a>
    </li>
    <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">
            <<== คลิกเลือกดูรายละเอียดต่าง ๆ</a> </li> </ul> <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <section class="container">
                        <br />
                        <div class="row">
                            <div class="col d-flex justify-content-center">
                                <h2>โอกาสชนะ</h2>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col ">
                                <div class="row d-flex justify-content-center">
                                    <img src='{{homeTeam}}' alt="" class="team-image" />
                                </div>
                                <br />
                                <div class="row d-flex justify-content-center">
                                    <option value="">เลือกทีมเหย้า</option>
                                    <select class="custom-select" matNativeControl [disabled]="!spinner_process" [(ngModel)]="homeTeam"
                                        (ngModelChange)="EventHome($event)" name="www">
                                        <option *ngFor="let team of teams" [value]="team.value">
                                            {{team.viewValue}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="col align-self-center">
                                <p style="text-align: center;"><span style="color: blue;">ทีมเหย้าชนะ</span>
                                    <span style="color: dimgrey;"> - เสมอ - </span>
                                    <span style="color:red">ทีมเยือนชนะ</span>
                                </p>
                                <div class="progress" style="width: 100%; height: 30px;">
                                    <div class="progress-bar" role="progressbar" [style.width.%]="new_winH"
                                        aria-valuenow="" aria-valuemin="0" aria-valuemax="100">{{winrateH}}%</div>
                                    <div class="progress-bar bg-secondary" role="progressbar" [style.width.%]='new_draw'
                                        aria-valuenow="" aria-valuemin="0" aria-valuemax="100">{{draw}}%</div>
                                    <div class="progress-bar bg-danger" role="progressbar" [style.width.%]='new_winA'
                                        aria-valuenow="" aria-valuemin="0" aria-valuemax="100">{{winrateA}}%</div>

                                </div>
                                <br />
                            </div>
                            <div class="col">
                                <div class="row d-flex justify-content-center">
                                    <img src={{awayTeam}} alt="" class="team-image" />
                                </div>
                                <br />
                                <div class="row d-flex justify-content-center">
                                    <option value="">เลือกทีมเยือน</option>
                                    <select class="custom-select" matNativeControl [disabled]="!spinner_process" [(ngModel)]="awayTeam"
                                        (ngModelChange)="EventAway($event)" name="sss">
                                        <option *ngFor="let team of teams" [value]="team.value">
                                            {{team.viewValue}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </section>
                    <br />

                    <section class="container">
                        <div class="row d-flex justify-content-center">
                            <h5>พบกันล่าสุด</h5>
                        </div>
                        <div class="row">
                            <div class="col">
                                <table mat-table [dataSource]="dataSource0" class="mat-elevation-z8">


                                    <ng-container matColumnDef="date">
                                        <th mat-header-cell *matHeaderCellDef> วันที่แข่งขัน </th>
                                        <td mat-cell *matCellDef="let lastmatch"> {{lastmatch.date}} </td>
                                    </ng-container>


                                    <ng-container matColumnDef="team_home">
                                        <th mat-header-cell *matHeaderCellDef> ทีมเหย้า </th>
                                        <td mat-cell *matCellDef="let lastmatch"> {{lastmatch.team_home}} </td>
                                    </ng-container>


                                    <ng-container matColumnDef="score">
                                        <th mat-header-cell *matHeaderCellDef> VS </th>
                                        <td mat-cell *matCellDef="let lastmatch"> {{lastmatch.score}} </td>
                                    </ng-container>


                                    <ng-container matColumnDef="team_away">
                                        <th mat-header-cell *matHeaderCellDef> ทีมเยือน </th>
                                        <td mat-cell *matCellDef="let lastmatch"> {{lastmatch.team_away}} </td>
                                    </ng-container>

                                    <tr mat-header-row *matHeaderRowDef="displayedColumns0"></tr>
                                    <tr mat-row *matRowDef="let row; columns: displayedColumns0;"></tr>
                                </table>


                            </div>
                        </div>
                    </section>
                    <br />

                    <section class="container">
                        <div class="row d-flex justify-content-center">
                            <h5>ผลงานล่าสุด</h5>
                        </div>
                        <div class="row">
                            <div class="col">
                                <table mat-table [dataSource]="dataSource1" class="mat-elevation-z8">


                                    <ng-container matColumnDef="date">
                                        <th mat-header-cell *matHeaderCellDef> วันที่แข่งขัน </th>
                                        <td mat-cell *matCellDef="let lastH_matcheach"> {{lastH_matcheach.date}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="team_home">
                                        <th mat-header-cell *matHeaderCellDef> ทีมเหย้า </th>
                                        <td mat-cell *matCellDef="let lastH_matcheach"> {{lastH_matcheach.team_home}}
                                        </td>
                                    </ng-container>


                                    <ng-container matColumnDef="score">
                                        <th mat-header-cell *matHeaderCellDef> VS </th>
                                        <td mat-cell *matCellDef="let lastH_matcheach"> {{lastH_matcheach.score}} </td>
                                    </ng-container>


                                    <ng-container matColumnDef="team_away">
                                        <th mat-header-cell *matHeaderCellDef> ทีมเยือน </th>
                                        <td mat-cell *matCellDef="let lastH_matcheach"> {{lastH_matcheach.team_away}}
                                        </td>
                                    </ng-container>

                                    <tr mat-header-row *matHeaderRowDef="displayedColumns1"></tr>
                                    <tr mat-row *matRowDef="let row; columns: displayedColumns1;"></tr>
                                </table>
                            </div>

                            <div class="col">
                                <table mat-table [dataSource]="dataSource2" class="mat-elevation-z8">

                                    <ng-container matColumnDef="date">
                                        <th mat-header-cell *matHeaderCellDef> วันที่แข่งขัน </th>
                                        <td mat-cell *matCellDef="let lastA_matcheach"> {{lastA_matcheach.date}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="team_home">
                                        <th mat-header-cell *matHeaderCellDef matTooltip="Info about the action">
                                            ทีมเหย้า </th>
                                        <td mat-cell *matCellDef="let lastA_matcheach"> {{lastA_matcheach.team_home}}
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="score">
                                        <th mat-header-cell *matHeaderCellDef> VS </th>
                                        <td mat-cell *matCellDef="let lastA_matcheach"> {{lastA_matcheach.score}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="team_away">
                                        <th mat-header-cell *matHeaderCellDef> ทีมเยือน </th>
                                        <td mat-cell *matCellDef="let lastA_matcheach"> {{lastA_matcheach.team_away}}
                                        </td>
                                    </ng-container>

                                    <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
                                    <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>
                                </table>
                            </div>
                        </div>
                    </section>
                    <br />

                    <section class="container">
                        <div class="row d-flex justify-content-center">
                            <h5>สถิติ</h5>
                        </div>
                        <div class="row d-flex justify-content-center">
                            <div class="card" style="width: 60%;">
                                <div class="card-body">
                                    <p style="padding-left: 60%;">Home : Away</p>
                                    <table class="table table-striped">
                                        <tbody>
                                            <tr>
                                                <td scope="row">โอกาสยิงประตู</td>
                                                <td>
                                                    <div class="progress" style="height: 25px;">
                                                        <div class="progress-bar" role="progressbar"
                                                            [style.width.%]='new_shotsH' aria-valuenow="25"
                                                            aria-valuemin="0" aria-valuemax="20">{{shotsH}}%
                                                        </div>
                                                        <div class="progress-bar bg-danger" role="progressbar"
                                                            [style.width.%]='new_shotsA' aria-valuenow="100"
                                                            aria-valuemin="0" aria-valuemax="100">{{shotsA}}%</div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td scope="row" style="width: 150px;">ยิงเข้ากรอบ</td>
                                                <td>
                                                    <div class="progress" style="height: 25px;">
                                                        <div class="progress-bar" role="progressbar"
                                                            [style.width.%]='new_sOnTargetH' aria-valuenow="25"
                                                            aria-valuemin="0" aria-valuemax="100">{{sOnTargetH}}%
                                                        </div>
                                                        <div class="progress-bar bg-danger" role="progressbar"
                                                            [style.width.%]='new_sOnTargetA' aria-valuenow="100"
                                                            aria-valuemin="0" aria-valuemax="100">{{sOnTargetA}}%</div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td scope="row" style="width: 200px;">ทำฟาวล์</td>
                                                <td>
                                                    <div class="progress" style="height: 25px;">
                                                        <div class="progress-bar" role="progressbar"
                                                            [style.width.%]='new_foulsH' aria-valuenow="25"
                                                            aria-valuemin="0" aria-valuemax="100">{{foulsH}}%
                                                        </div>
                                                        <div class="progress-bar bg-danger" role="progressbar"
                                                            [style.width.%]='new_foulsA' aria-valuenow="100"
                                                            aria-valuemin="0" aria-valuemax="100">{{foulsA}}%</div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td scope="row" style="width: 150px;">ใบเหลือง</td>
                                                <td>
                                                    <div class="progress" style="height: 25px;">
                                                        <div class="progress-bar" role="progressbar"
                                                            [style.width.%]='new_yallowCardH' aria-valuenow="25"
                                                            aria-valuemin="0" aria-valuemax="100">
                                                            {{yallowCardH}}%</div>
                                                        <div class="progress-bar bg-danger" role="progressbar"
                                                            [style.width.%]='new_yallowCardA' aria-valuenow="100"
                                                            aria-valuemin="0" aria-valuemax="100">{{yallowCardA}}%</div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td scope="row" style="width: 150px;">ใบแดง</td>
                                                <td>
                                                    <div class="progress" style="height: 25px;">
                                                        <div class="progress-bar" role="progressbar"
                                                            [style.width.%]='new_redCardH' aria-valuenow="25"
                                                            aria-valuemin="0" aria-valuemax="100">
                                                            {{redCardH}}%</div>
                                                        <div class="progress-bar bg-danger" role="progressbar"
                                                            [style.width.%]='new_redCardA' aria-valuenow="100"
                                                            aria-valuemin="0" aria-valuemax="100">{{redCardA}}%</div>
                                                    </div>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td scope="row" style="width: 150px;">เตะมุม</td>
                                                <td>
                                                    <div class="progress" style="height: 25px;">
                                                        <div class="progress-bar" role="progressbar"
                                                            [style.width.%]='new_cornersH' aria-valuenow="25"
                                                            aria-valuemin="0" aria-valuemax="100">{{cornersH}}%
                                                        </div>
                                                        <div class="progress-bar bg-danger" role="progressbar"
                                                            [style.width.%]='new_cornersA' aria-valuenow="100"
                                                            aria-valuemin="0" aria-valuemax="100">{{cornersA}}%</div>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </section>
                    <br />
                </div>
                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    <div class="example-container mat-elevation-z8">
                        <ag-grid-angular style="width: 100%; height: 100%;" class="ag-theme-balham"
                            [rowData]="rowData | async" [columnDefs]="columnDefs">
                        </ag-grid-angular>
                    </div>
                </div>
                <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                    <div>
                        <div style="display: block">
                            <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels"
                                [options]="barChartOptions" [legend]="barChartLegend" [chartType]="barChartType">
                            </canvas>
                        </div>
                    </div>
                </div>
                </div>